.header{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px 0 22px;
  background-color: #fff;
  position: fixed;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 7px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 6px 4px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}